{% extends "base.html" %}

{% block title %}Ajouter Client{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header" style="color:#ff7302;background-color:#070439;text-align:center; font-weight: bold; font-size:22px ">
            Ajouter Client
        </div>
        <div class="card-body" style="background-color:#e5781fc0;">
            <form action="ajoutclient" method="POST" >
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_ssn_id" style="color:#000; font-weight: bold; font-size:18px ">SSN ID Client<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="client_ssn_id" id="cust_ssn_id" type="textfield" placeholder="SSN ID Client" required minlength="9" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="name" style="color:#000; font-weight: bold; font-size:18px ">Nom Client<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="nom" id="name" type="textfield" placeholder="Nom" required maxlength="50">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="address" style="color:#000; font-weight: bold; font-size:18px ">Email<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="email" id="address" type="emailfield" placeholder="Email" required maxlength="100">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="age"style="color:#000; font-weight: bold; font-size:18px ">Age<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="age" id="age" type="textfield" placeholder="Age" required maxlength="3">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="state" style="color:#000; font-weight: bold; font-size:18px ">Pays<span style="color:#ff0000"><sup>*</sup></span></label>
                    <select class="custom-select" id="inputGroupSelect01" name="pays">
                      <option selected>Choisissez...</option>
                      {% for data in pays %}
                        <option value="{{ data }}">{{ data }}</option>
                      {% endfor %}
                    </select>
                </div> 
               

                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="city" style="color:#000; font-weight: bold; font-size:18px ">Ville<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="ville" id="city" type="textfield" placeholder="Ville" required maxlength="20">
                </div>
                <span style="color:#ff0000; font-weight:bold;"><p><b>(<sup> * </sup>) Champs obligatoires</b></p></span>
                <div class="form-group" style="background-color:#ffff66; color:#000; font-weight: bold; font-size:22px ">
                    <input type="submit" value="Envoyer" class="btn float-left login_btn" style="font-weight:bold; font-size:18px;">
                    <button class="reset_btn btn float-right" style="font-weight:bold; font-size:18px;">Reset</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
