
{% extends "base.html" %}

{% block title %}Connexion{% endblock title %}

{% block content %}

{% block style %}
<style>
body{
    background-image:url("{{url_for('static',filename='images/login.png')}}");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    height: 100%;
    align-content: center;
}
    
.card{
    height: 73%;
    margin-top: 5%;
    margin-bottom: auto;
    width: 400px ;
    background-color: rgba(0,0,0,0.5) !important;
}
    
    
.card-header h3{
color: white;
}
    
    
.input-group-prepend span{
    width: 50px;
    background-color: #ff7302;
    color: black;
    border:0 !important;
}
    
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #ff7302;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
</style>
{% endblock style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login1.css') }}"> -->
<div class="container">
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
    <div class="d-flex justify-content-center h-100">
    
        <div class="card" style="background-color: #070439 !important;">
            <div class="text-center">
                <a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='images/logo_sika.png') }}" class="rounded" alt="logo" style="width: 10vw;padding: 15px;"></a>
            </div>     
            <div class="card-header">
                <h3 class="text-center">Se connecter</h3>
            </div>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control" name="username" type="text" placeholder="Nom d'utilisateur" required maxlength="30" style="height: 37px;">
                        
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" name="password" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,}$" placeholder="Mot de passe" required maxlength="30" id="pwdInput" style="height: 37px;">

                    </div>
                    <div style="padding-left: 15px;color: white;">
                    <input type="checkbox" id="afficherPwd">&nbsp;Afficher le mot de passe
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Connexion" class="btn float-right login_btn">
                    </div>
                    <br>

                </form>
            
            {% with messages = get_flashed_messages(category_filter=["greet"]) %}
                    {% if messages %}
                
                    <div class="alert">
                        {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                        {% endfor %}
                        
                    </div>
                    
                        {% endif %}
                    {% endwith %}
            </div>

        </div>

    </div>
</div>
{% endblock %}
