{% extends "base.html" %}

{% block title %}Voir les détails du compte{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Voir les détails du compte
        </div>
        <div class="card-body">
            {% if data %}
            {% for i in data %}
            <div class="row mb-4">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <td>
                                ID du Client
                            </td>
                            <td>
                                {{ i.id_client }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ID du Compte
                            </td>
                            <td>
                                {{ i.id_compte }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Type du Compte
                            </td>
                            <td>
                                {{ i.type_de_compte }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Solde
                            </td>
                            <td>
                                {{ i.balance }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Statut
                            </td>
                            <td>
                                {{ i.statut }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-4 col-md-12">
                <div class="form-group d-flex col-md-12">
                    {% if session['user_type']=="gestionnaire" %}
                        {% if i.statut == 'activer' %}
                        <a href="{{ url_for('supprimercompte') }}">
                            <button class="btn float-right">Supprimer</button>
                        </a>
                        {% else %}
                            <a href="{{ url_for('activercompte',id_compte=i.id_compte ) }}">
                                <button class="btn float-right">Activer</button>
                            </a>
                        {% endif %}
                    {% elif session['user_type']=="caissier" %}
                        {% if i.statut == 'activer' %}
                            <div class="col-md-4">
                                <a href="{{ url_for('depot',id_compte=i.id_compte ) }}">
                                    <button class="btn">Dépôt</button>
                                </a>
                            </div>
                            {% if data|length > 1 %}
                                <div class="col-md-4">
                                    <a href="{{ url_for('transfert',id_client=i.id_client) }}">
                                        <button class="btn">Transfert</button>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-md-4">
                                <a href="{{ url_for('retrait',id_compte=i.id_compte ) }}">
                                    <button class="btn">Retrait</button>
                                </a>
                            </div>
                        {% endif %}
                    {%endif%}
                </div>
            </div>
            {%endfor%}
            {%else%}
            <form action="voircompte" id="voir_cmpt" method="POST">
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="id_client">ID Client</label>
                   <input class="form-control" name="id_client" id="id_client" type="textfield" placeholder="ID Client" minlength="9" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3">Ou</label>
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="id_compte">ID Compte</label>
                   <input class="form-control" name="id_compte" id="id_compte" type="textfield" placeholder="ID Compte" minlength="9" maxlength="9">
                </div>
                <div class="form-group">
                    <input type="submit" value="Voir" class="btn">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}