{% extends "base.html" %}

{% block title %}Ajouter Client{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Voir Détails Client
        </div>
        <div class="card-body">
            {% if data %}
            <div class="row mb-4">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <td>
                                ID Client
                            </td>
                            <td>
                                {{ data.id_client }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SSN ID
                            </td>
                            <td>
                                {{ data.client_ssn_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                nom
                            </td>
                            <td>
                                {{ data.nom }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Age
                            </td>
                            <td>
                                {{ data.age }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                email
                            </td>
                            <td>
                                {{ data.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pays
                            </td>
                            <td>
                                {{ data.pays }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ville
                            </td>
                            <td>
                                {{ data.ville }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Statut
                            </td>
                            <td>
                                {{ data.statut }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-12">
                    <div class="float-left">
                        <a href="{{ url_for('modifierclient',id_client=data.id_client ) }}">
                            <button class="btn">Modifier</button>
                        </a>
                    </div>
                    {% if data.statut == 'deactiver' %}
                    <div class="float-right">
                        <a href="{{ url_for('activerclient',id_client=data.id_client ) }}">
                            <button class="btn" onclick="alert('Are you Sure, You want to activate this customer?')">Activer</button>
                        </a>
                    </div>
                    {% else %}
                    <div class="float-right">
                        <a href="{{ url_for('supprimerclient',id_client=data.id_client ) }}">
                            <button class="btn" onclick="alert('Are you Sure, You want to deactivate this customer?')">Supprimer</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {%else%}
            <form action="{{ url_for('voirclient') }}" id="voir_client" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="m-auto float-left" for="id_client">Id Client</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <input class="form-control" name="id_client" id="id_client" type="textfield" placeholder="Id Client" maxlength="9">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group">
                                    <label class="m-auto">ou</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="m-auto float-left" for="client_ssn_id">Client SSN Id</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                   <input class="form-control" name="client_ssn_id" id="client_ssn_id" type="textfield" placeholder="Client SSN Id" maxlength="9">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group">
                                    <input type="submit" value="Voir" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}