{% extends "base.html" %}

{% block title %}État du compte{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header text-center">
            <h4>État du compte</h4>
        </div>
        <div class="card-body">
            {% if data %}
            <table class="table">
                <thead>
                  <tr>
                    <th> ID du Client</th>
                    <th> ID du Compte</th>
                    <th> Type du Compte</th>
                    <th> État du compte</th>
                    <th> Message</th>
                    <th> Dernière Miseàjour</th>
                    <th> Operations</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                  <tr>
                    <td> {{ i.id_client }}</td>
                    <td>  {{ i.id_compte }}</td>
                    <td> {{ i.type_de_compte }}</td>
                    <td>   {{ i.statut }}</td>
                    <td>   {{ i.message }}</td>
                    <td>   {{ i.dernier_majour }}</td>
                    <td><a href="javaScript:void(0)" class="actualiser_compte" data-id_compte="{{ i.id_compte }}">Actualiser</a></td>
                  </tr>
                
                    
                  {%endfor%}
                  
                </tbody>
              </table>
            
            </div>
            <div class="row">
              <div class="form-group col-md-12 text-center">
                  <div class="float-right">
                      <a href="{{ url_for('voircomptestatut') }}">
                          <button class="btn">Actualiser la liste</button>
                      </a>
                  </div>
              </div>
          </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
